<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login - {{ AuthUi::app_name() }}</title>

    <link rel="stylesheet" href="{{ self.asset_path("assets/css/app.min.css") }}">
    <link rel="stylesheet" href="{{ self.asset_path("assets/bundles/bootstrap-social/bootstrap-social.css") }}">

    <link rel="stylesheet" href="{{ self.asset_path("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{ self.asset_path("assets/css/components.css") }}">

    <link rel="stylesheet" href="{{ self.asset_path("assets/css/custom.css") }}">
    <link rel='shortcut icon' type='image/x-icon' href='{{ self.asset_path("assets/img/favicon.ico") }}' />
</head>

<body>
<div class="loader"></div>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>تطبيق {{ AuthUi::app_name() }}</h4>
                        </div>

                        <div class="card-body">
                            <form method="POST" action="loginPost" class="needs-validation" novalidate="">

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email" tabindex="1" value="" required autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in your email now
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>

                                    {{#if let Some(ref error_message) = error_message}}
                                        <div class="iziToast-color-red mt-2">
                                        <span class="invalid-feedback d-block" role="alert">
                                            <strong>{{ error_message }}</strong>
                                        </span>
                                        </div>
                                    {{/if}}

                                    <div class="invalid-feedback">
                                        please fill in your password
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                        <label class="custom-control-label" for="remember-me">Remember Me</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script src="{{ self.asset_path("assets/js/app.min.js") }}"></script>
<script src="{{ self.asset_path("assets/js/scripts.js") }}"></script>
<script src="{{ self.asset_path("assets/js/custom.js") }}"></script>
</body>
</html>